<template>
  <q-dialog v-model="modal" >
    <q-card style = "min-width: 80vw;width: 80vw;  ">
      <div class = "boarder-3" style = "width:100%;height:100%" >

        <div class = "boarder-left bg-grey-2" style = "display:flex; justify-contents:center; align-items:space-between; flex-direction:column; ">
          <ZapInfoLeft :zap= "zap" :zapId = "zapId" :loading= "loading"/>
        </div>

        <div class = "boarder-main" style = "height:100%;width:100%;" >
          <ZapDetails :zap= "zap" :zapId = "zapId" :loading= "loading" style = "height:100%;width:100%;" />
        </div>

        <div class = "boarder-right bg-grey-3">
          <!-- <ZapDetails :zap= "zap"/> -->
          <ZapInfoRight :zap= "zap"/>
        </div>
      </div>

    </q-card>
  </q-dialog>
</template>
<script>
import {mapGetters, mapActions} from 'vuex'
import ZapInfoLeft from './zap-info-left'
import ZapDetails from './zap-details'
import ZapInfoRight from './zap-info-right'
import {notify} from 'src/mixins/notify'

export default {
  components: {ZapInfoLeft, ZapDetails, ZapInfoRight},
  mixins: [notify],
  watch: {
    zapId (v) {
      this.getZapDetails();
    }
  },
  computed: {
    ...mapGetters(['dialogs']),
    zapId () {
      let row = this.zap;
      let ind = row.url.split('/')
      return ind[ind.length-1].split('?')[0]
    },
    zap: {
      get () {
        return this.dialogs.ZapInfo.zap
      },
      set (zap) {
        this._dialogs({ZapInfo: {zap}});
      }
    },
    modal: {
      get () {
        return this.dialogs.ZapInfo.open;
      },
      set(v) {
        this._toggle('ZapInfo')
      }
    },
  },
  data () {
    return {
      loading: false
    }
  },
  methods: {
    ...mapActions(['_toggle', '_dialogs']),
    getZapDetails () {
      this.loading = true;
      this.$axios.get(`zaps/${this.zap.id}`).then(r => {
        this.loading = false;
        this.zap = r.data
      }).catch(e=> {
        this.catchPostError(e)
        this.loading = false
        this.modal = false
      });
    }
  }
}
</script>
