<template>
  <div class = "q-pa-sm">
    <q-list >
        <q-item clickable v-for = "(log, k) in logs" :key= "k">
          <q-item-section side left>
            <q-icon name = "chevron_right" />
          </q-item-section>
          <q-item-section>
            <q-item-label caption lines="4"> {{log.body}} </q-item-label>
          </q-item-section>

          <q-item-section side >
            <q-item-label > <small> {{ new Date(log.created_at).toDateString() }} </small></q-item-label>
          </q-item-section>

        </q-item>
    </q-list>
  </div>
</template>
<script>
export default {

  props: ['zap'],
  computed: {
    logs () {
      if(!this.zap.logs) return []
      else return this.zap.logs
    }
  }

}
</script>
