<template>
  <div>
    <div class = "flex flex-center q-pa-md" style = "">
      <q-icon name = "bolt" class = "text-h1 full-width" style = "justify-self:center"/>
          <small class = "text-grey">
            id: {{zapId}}
          </small>
    </div>
      <div>
        <span>
        </span>
      </div>
    <div class = "actions flex flex-center q-gutter-sm" style = "justify-content:center">
      <q-btn icon = "open_in_new" color = "info"  round size= "sm" />
      <q-btn icon = "far fa-file-excel" color = "deep-orange"  round size= "sm">
        <q-tooltip>
          Support Tracker
        </q-tooltip>
      </q-btn>
      <q-btn icon = "fas fa-file-excel" color = "deep-purple"  round size= "sm">
        <q-tooltip>
          Money boss Tracker
        </q-tooltip>
      </q-btn>
      <q-btn icon = "fab fa-slack" color = "secondary"  round size= "sm" @click = "reSlack()">
        <q-tooltip>
          submit slack report
        </q-tooltip>
      </q-btn>
      <q-btn icon = "fas fa-edit" color = "positive"  round size= "sm"/>
    </div>

    <div class = "q-pa-xl" >
      <q-list>
        <q-item>
          <q-item-section>
            <q-item-label>Full Link</q-item-label>
            <q-item-label caption lines="2">{{zap.url}}</q-item-label>
          </q-item-section>
        </q-item>

        <q-item>
          <q-item-section>
            <q-item-label>User</q-item-label>
          </q-item-section>
          <q-item-section side >
            <q-item-label caption>{{ zap.user }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-item>
          <q-item-section>
            <q-item-label>Reported By</q-item-label>
          </q-item-section>
          <q-item-section side >
            <q-item-label caption>{{ assignee.email }} </q-item-label>
          </q-item-section>
        </q-item>

        <q-item>
          <q-item-section>
            <q-item-label>Created On</q-item-label>
          </q-item-section>
          <q-item-section side >
            <q-item-label caption>{{ new Date(zap.created_at).toLocaleDateString() }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-item>
          <q-item-section>
            <q-item-label>Last Updated on</q-item-label>
          </q-item-section>
          <q-item-section side >
            <q-item-label caption>{{ new Date(zap.updated_at).toLocaleDateString() }} </q-item-label>
          </q-item-section>
        </q-item>

        <q-item>
          <q-item-section>
            <q-item-label>Standing</q-item-label>
          </q-item-section>
          <q-item-section side >
              <q-chip text-color="white" color="warning" label = "pending" icon = "hourglass_empty" dense/>
          </q-item-section>
        </q-item>

        <q-item>
          <q-item-section side top>
            <q-item-label>Recommended Actions</q-item-label>
            <q-item-label lines = "5" >
              <q-chip class = "shadow-1" square v-for = "(action,k) in zap.actions" :key = "k"  dense>
                <q-avatar icon = "pending_actions" color="grey" text-color="white"/>
                {{action.title}}
              </q-chip>
            </q-item-label>
          </q-item-section>

          <q-item-section v-if = "loading">
            <q-item-label caption> {{zap.action}}
              <q-inner-loading :showing="loading">
                <q-spinner-puff size="20px" color="primary" />
              </q-inner-loading>
            </q-item-label>
          </q-item-section>

        </q-item>
      </q-list>
    </div>
  </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
  props: ['zap', 'zapId', 'loading'],
  computed: {
    assignee () {
      if(!this.zap.assignee) return {id: 0, email: ''}
      else return this.zap.assignee;
    },
  },
  methods: {
    reSlack () {
      this.$axios.post(`zaps/${this.zap.id}/logs`).then(r => {
        console.log(r.data)
      })
    }
  }
}
</script>
