<template>
  <div class = "q-pa-md full-width " style = "" >
    <q-inner-loading :showing="loading">
      <q-spinner-puff size="20px" color="primary" />
    </q-inner-loading>
    <q-list class = "full-width">

      <q-item>
        <q-item-section>
          <q-item-label  > Task </q-item-label>
          <q-item-label caption lines="2"> {{zap.task}} </q-item-label>
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section>
          <q-item-label  > Tags </q-item-label>
          <q-item-label lines="3">
            <div class = "q-pa-sm  q-gutter-xs">
              <q-btn flat size = "sm" color = "deep-purple" v-for = "(tag, tk) in tags" :key = "'tk_' + tk" :label = "tag" />
            </div>
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-item-label header>Recommendations</q-item-label>
      <q-item v-for = "(action, ak) in actions" :key = "'ak_' + ak">
        <q-item-section avatar>
          <q-icon color="deep-orange" name="info"  />
        </q-item-section>
        <q-item-section>
          <q-item-label  > {{action.title}} </q-item-label>
          <q-item-label caption lines="2"> {{action.description}} </q-item-label>
        </q-item-section>
      </q-item>

      <q-separator spaced />

      <q-item>
        <q-item-section>
          <q-item-label  > Reason </q-item-label>
          <q-item-label caption lines="5"> {{zap.reason}} </q-item-label>
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section>
          <q-item-label  > Status </q-item-label>
          <q-item-label caption lines="5"> {{zap.status}} </q-item-label>
        </q-item-section>
      </q-item>

      <q-separator spaced />
      <q-item-label header>Platforms</q-item-label>

      <q-item v-for = "(platform, pk) in platforms" :key = "'pk_' +pk">
        <q-item-section>
          <q-item-label  > {{platform.platform}} </q-item-label>
          <q-item-label caption lines="2"> {{platform.comment}} </q-item-label>
        </q-item-section>
        <q-item-section side >
          @step: {{platform.step}}
        </q-item-section>

      </q-item>
    </q-list>
  </div>
</template>
<script>
export default {
  props: ['zap', 'zapId', 'loading'],
  computed: {
    platforms () {
      if(!this.zap.platforms) return []
      else return this.zap.platforms;
    },
    actions () {
      if(!this.zap.actions) return []
      else return this.zap.actions;
    },
    tags () {
      let _t = this.zap.task.split("-")
      return _t.splice(0, _t.length -1) ;
    }
  }
}
</script>
