<template >
  <div class = "login-backdrop" >
    <div class = "" style = "display:flex; justify-content:center; align-items:center;height:inherit">
      <div class="login-box bg-white q-pa-sm" >
        <div class = "q-gutter-sm justify-center">
          <q-input outlined v-model="credentials.email" label="email" />
          <q-input type = "password" outlined v-model="credentials.password" label="password" />
          <div class = "flex" style = "justify-content:flex-end" >
            <q-btn class = "flex "  outline color = "primary" label = "login" @click = "login"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {sessionHandler} from 'src/mixins/sessionHandler'

export default {
  name: 'login',
  mixins: [sessionHandler],
  data () {
    return {
      credentials: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    login () {
      this.$axios.post('/login', this.credentials).then(r => {
        this.$auth.authenticate(this, r)
        this.createSession(r.data.user)
        window.open('/','_self')
        this.$router.push('/')
      })
    }
  },
  mounted () {
  }
}
</script>
