<template >
  <div class = "login-backdrop" >
    <div  style = "display:flex; justify-content:center; align-items:center;height:inherit; flex-direction:column; ">
      <div class = "bg-white" style="border-radius:10px">
        <div class="agreement-box q-pa-sm q-gutter-sm" >
          <div>
            <span class = "full-width text-h6 " style = "text-align:center">
              Congratulations on your acceptance into the MoneyBoss program!
            </span>
            <div class = "" style = "display:flex; align-items:center; flex-direction: row">
              <div>
                <q-list >
                  <q-item clickable>
                    <q-item-section avatar>
                      <q-icon color="primary" name="chevron_right" />
                    </q-item-section>
                    <q-item-section>
                      <q-item-label class = "text-deep-orange">You agree you will not share your Username and Password with anyone else. This is for you!</q-item-label>
                      <!-- <q-item-label caption lines="2" class = "text-deep-orange">You agree you will not share your Username and Password with anyone else. This is for you!</q-item-label> -->
                    </q-item-section>
                  </q-item>

                  <q-item clickable>
                    <q-item-section avatar>
                      <q-icon color="primary" name="chevron_right" />
                    </q-item-section>
                    <q-item-section>
                      <q-item-label class = "text-deep-orange">You agree to our Terms of Use.</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item clickable>
                    <q-item-section avatar>
                      <q-icon color="primary" name="chevron_right" />
                    </q-item-section>
                    <q-item-section>
                      <q-item-label  class = "text-deep-orange">You agree that what you learn inside Money Boss stays inside Money Boss. We keep it "in the family".</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item clickable>
                    <q-item-section avatar>
                      <q-icon color="primary" name="chevron_right" />
                    </q-item-section>
                    <q-item-section>
                      <q-item-label class = "text-deep-orange">You'll "electronically" sign the agreement here so we can unlock access for you right away!</q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </div>
            </div>
          </div>


          <div class = "" style = "display:flex; flex-direction:col; justify-contents:space-around">
            <q-input outlined v-model="credentials.fn" label="First Name" style = "flex-grow: 0.8 ; margin-right: 2px"/>
            <q-input type = "email" outlined v-model="credentials.ln" label="Last Name" style = "flex-grow: 0.8 ; margin-left: 2px"/>
          </div>

          <div class = " " style = "display:flex; flex-direction:col">
            <q-input outlined v-model="credentials.fn" label="Email" style = "flex-grow:1 ;"/>
          </div>
        </div>

        <div class="agreement-box bg-white q-pa-sm" >
          <div class = "q-gutter-sm justify-center">
            <q-scroll-area
              class = "shadow-4"
              :thumb-style="thumbStyle"
              :content-style="contentStyle"
              :content-active-style="contentActiveStyle"
              style="border-radius: 5px; height: 35vh; max-width: 100%;"
            >
              <optin />
            </q-scroll-area>

            <q-list>
              <q-item tag="label" v-ripple>
                <q-item-section avatar top>
                  <q-checkbox v-model="credentials.terms" color="primary" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>I Agree To The Rules, Let's Get Started! </q-item-label>
                  <q-item-label caption>
                    I, the undersigned, verify that I, the cardholder, am at least 18 years of age, I have read and understood the Terms and Conditions, I authorized this transaction and I am ready to get started now! *
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          <div class = "flex justify-end">
            <q-btn outline color = "primary" label="submit" >
              <q-tooltip content-class="bg-primary">Please tick the agreement checkbox first</q-tooltip>
            </q-btn>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {sessionHandler} from 'src/mixins/sessionHandler'
import optin from './optin'

export default {
  name: 'login',
  mixins: [sessionHandler],
  components: { optin },
  data () {
    return {
      credentials: {
        email: '',
        fn: '',
        ln: '',
        password: '',
        terms: false
      },
      contentStyle: {
        backgroundColor: 'rgba(0,0,0,0.02)',
        color: '#555'
      },

      contentActiveStyle: {
        backgroundColor: '#eee',
        color: 'black'
      },

      thumbStyle: {
        right: '2px',
        borderRadius: '5px',
        backgroundColor: '#027be3',
        width: '5px',
        opacity: 0.75
      }
    }
  },
  methods: {
    login () {
      this.$axios.post('/login', this.credentials).then(r => {
        this.$auth.authenticate(this, r)
        this.createSession(r.data.user)
        this.$router.push('/')
      })
    }
  },
  mounted () {
  }
}
</script>
