<template>
  <div class="q-pa-md">
    <q-table
      class="sticky-virtscroll-table-full"
      title="Sample"
      :data="reports.data"
      :columns="reports.columns"
      :loading="tableLoad"
      :pagination.sync="configs.pagination"

    >
      <template v-slot:top>
      <q-btn color= "deep-orange" icon = "system_update_alt" round flat size = "md">
        <q-tooltip>
          Update TableData (DB)
        </q-tooltip>
      </q-btn>
      <q-btn color= "primary" icon = "update" round flat size = "md">
        <q-tooltip>
          Update TableData (Data Warehouse)
        </q-tooltip>
      </q-btn>

      <q-select filled v-model="selectValue" :options="selectOptions" label="Spreadsheet" />
        <q-space />
        <q-input borderless dense debounce="300" color="primary" v-model="configs.filter">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
    </q-table>
  </div>
</template>
<script>
export default {
  name: 'reports',
  watch: {
    selectValue (v) {
      this.getData()
    }
  },
  data ( ) {
    return {
      selectValue: 'Sample',
      selectOptions: [
        'Sample', 'Sales'
      ],
      reports: {
        columns : [],
        data: []
      },
      configs: {
        loading: false,
        filter: '',
        pagination: {
          rowsPerPage: 100
        },
      },
      tableLoad: false
    }
  },
  methods: {
    tableDataTransfer (data) {
      data.headers.map(col => {
        this.reports.columns.push({
          name: col,
          required: true,
          label: col,
          align: 'left',
          field: col
        });
      });
    },
    getData () {
    this.tableLoad = true;
    this.$axios.post('reports', {sheet: this.selectValue}).then(r => {
      this.tableLoad = false;
      this.tableDataTransfer (r.data);
      this.reports.data = r.data.sets
    });
    }
  },
  mounted () {
    this.getData()
  }
}
</script>


