<template>
  <div>
    <q-date
      v-model="ranges"
      landscape
      range
    />
  </div>
</template>
<script>
export default {
  props: ['ranges'],
  computed: {
    currentDate () {
      return new Date();
    }
  },
  data () {
    return {
      dates: {
        from: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()-1).toLocaleDateString("zh-Hans-CN"),
        to: new Date().toLocaleDateString("zh-Hans-CN")
      }
    }
  },
  mounted() {
  }

}
</script>
