<template>
  <q-card class = "q-pa-sm bg-deep-purple-5" style = "min-height:200px; min-width:150px">
    <span class = "text-white ">
      failed zaps in {{ranges.range}} day/s
    </span>
      <q-separator/>
    <q-card-section style = "width:100%;height:100%;">
      <div style = "display:flex; justify-content: center; align-items:center; width:100%;height:100%">
        <q-btn round :label = "failedTasks.stats" size = "xl" color = "deep-orange-8" />
      </div>
    </q-card-section>
    <q-inner-loading :showing="failedTasks.loading">
      <q-spinner-puff size="50px" color="primary" />
    </q-inner-loading>
  </q-card>
</template>
<script>
export default {
  props: ['ranges', 'failedTasks'],
  name: 'FailedReports',
  computed: {
    computeDiff () {
      console.log(moment)
    }
  },
  data () {
    return {
      stats: 0,
      loading: true,
    }
  },
  methods: {
  },
  mounted () {
  }
}
</script>
