<template>
  <q-dialog v-model="modal" persistent>
    <q-card style="width: 700px; max-width: 80vw;"  >
      <q-bar class = "bg-primary text-white">
          <q-btn dense outline flat icon="chevron_left" v-close-popup  size="md" />
          <small>
            add zap report
          </small>
          <q-space/>
          <q-btn dense size="md" outline flat icon="save" @click = "store"/>
      </q-bar>
        <q-card-section style = "min-width:320px;padding-bottom:4px" class = "q-gutter-sm">
          <q-input outlined v-model="zap.url" label="Zap Url" />
          <q-input outlined v-model="zap.task" label="task" />
          <q-input outlined v-model="zap.user" label="user" />
          <q-input type = "textarea"  autogrow outlined v-model="zap.reason" label="reason" rows = "2" />
          <q-input outlined v-model="zap.status" label="status" />
            <div>
              <q-select
                outlined
                v-model="zap.actions"
                :options="options"
                label="Recommended Actions"
                popup-content-class="mid-width"
                multiple
                color="teal"
                use-chips
                clearable
                options-selected-class="text-deep-orange"
              >
                <template v-slot:option="scope">
                  <q-item
                    v-bind="scope.itemProps"
                    v-on="scope.itemEvents"
                  >
                    <q-item-section>
                      <q-item-label v-html="scope.opt.label" />
                      <q-item-label caption>{{ scope.opt.description }}</q-item-label>
                    </q-item-section>
                  </q-item>
                </template>
              </q-select>
            </div>
          <div>
            <q-list>
              <q-item clickable v-for = "(p, k) in zap.platforms" :key = "k">
                <q-item-section>
                  <q-item-label>{{p.platform}}</q-item-label>
                  <q-item-label caption >{{p.comment}}</q-item-label>
                </q-item-section>

                <q-item-section side top>
                  <!-- <q-item-label caption>5 min ago</q-item-label> -->
                  <q-btn icon = "delete" flat @click="removeToPlatform(k)"/>
                </q-item-section>
              </q-item>

            </q-list>
          </div>
          <div class = " " style = "">
            <q-btn color="primary" label="Include Platform">
              <q-menu>
                <div class="row q-pa-md q-col-gutter-sm">
                  <div class="col-6">
                    <q-input outlined v-model="platform.platform" label="platform" />
                  </div>
                  <div class="col-6">
                    <q-input type = "number" outlined v-model="platform.step" label="step" />
                  </div>
                  <div class="col-12 ">
                    <q-input type = "textarea"  autogrow outlined v-model="platform.comment" label="reason" rows = "2" />
                    <div class="full-width flex justify-end" style = "margin-top:4px">
                      <q-btn icon = "add_circle" flat @click="pushToPlatforms"/>
                    </div>
                  </div>

                </div>
              </q-menu>
            </q-btn>
          </div>
        </q-card-section>
        <q-card-section align = "end" style = "padding-top:4px">
        </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
import {notify} from 'src/mixins/notify'

export default {
    mixins: [notify],
    computed: {
      ...mapGetters(['dialogs']),
      trigger () {
        return this.dialogs.ZapReport.trigger;
      },
      modal: {
        get () {
          return this.dialogs.ZapReport.open;
        },
        set(v) {
          this._toggle('ZapReport')
        }
      },
    },
    data () {
      return {
        zap: {
          url: '',
          task: '',
          user: '',
          status: '',
          reason: '',
          platforms: [],
          actions: []
        },
        platform: {
          platform: '',
          step: '',
          comment: ''
        },
        options: [
          {
            label: 'Re-run the task',
            value: '1',
            description: 'mostly this is where the original task “timed out” or it failed because some piece of data was missing (that is now present)',
          },
          {
            label: 'Manually edit the data',
            value: '2',
            description: 'this will mostly be where the data the task is “looking for” does not match the data in a source spreadsheet (often due to timezone differences) - and the easiest fix is to “fudge” the data in the sheet to match what the task is looking for',
          },
          {
            label: 'Manually trigger an event',
            value: '3',
            description: 'this would be where we have a typically google sheet that triggers on a new row - and we use this to mimic the “real” event',
          },
          {
            label: 'Correct the system(s)',
            value: '4',
            description: 'manually adjust the systems so that they are correct',
          },
          {
            label: 'Delete the task',
            value: '5',
            description: 'just delete the task',
          }
        ]
      }
    },
    methods: {
      ...mapActions(['_toggle']),
      pushToPlatforms () {
        this.zap.platforms.push({...this.platform})
      },
      removeToPlatform (key) {
        this.zap.platforms.splice(key, 1)
      },
      store () {
        this.trigger();
        this.zap.url = this.zap.url.split('?')[0]
        this.$axios.post('/zaps', this.zap).then( r => {
          this.reset();
          this.trigger();
        }).catch(e => {
          this.catchPostError(e)
        });
      },
      reset() {
        this.zap = {
          url: '',
          task: '',
          user: '',
          status: '',
          reason: '',
          platforms: [],
          actions: []
        }
        this.platform = {
          platform: '',
          step: '',
          comment: ''
        }
        this.modal = false
      }
    }
}
</script>
