<template>
    <q-table
      class="sticky-virtscroll-table"
      title="Zap Reports"
      :data="data"
      :columns="columns"
      :loading="configs.loading"
      :pagination.sync="configs.pagination"
      :rows-per-page-options="[0]"
      :virtual-scroll-sticky-size-start="1"
      row-key="index"
      @row-click="onRowClick"
      flat
      bordered
    >
      <template v-slot:body-cell-task="props">
        <q-td :props="props">
          <div v-for = "(v, k) in props.value"  :key ="k">
            <q-badge class="my-table-details" color="deep-purple-5" :label="v" />
          </div>
        </q-td>
      </template>

      <template v-slot:body-cell-reason="props">
        <q-td :props="props">
          <small class = "my-table-details"> {{ props.value }}</small>
        </q-td>
      </template>

      <template v-slot:body-cell-url="props">
        <q-td :props="props">
          <small class = "my-table-details"> {{ props.value }}</small> <br>
          <q-btn round outline color = "primary"   size = "xs" icon = "open_in_new" @click = "openUrl(props.row.url)"/>
        </q-td>
      </template>

      <template v-slot:top>
      <q-btn color= "primary" icon = "add_circle" round flat size = "md" @click = "ToggleAddReport()"/>
      <q-btn color= "deep-orange" icon = "date_range" round flat size = "md"/>
        <q-space />
        <q-input borderless dense debounce="300" color="primary" v-model="configs.filter">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

    </q-table>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'

export default {
  props: ['ranges'],
  watch: {
    ranges: {
      handler() {
        this.getTableData()
      },
      deep: true
    }
  },
  computed: {
    ...mapGetters(['dialogs'])
  },
  data (){
    return {
      configs: {
        loading: false,
        filter: '',
        pagination: {
          rowsPerPage: 0
        },
      },
      data: [],
      columns: [
        {
          name: 'task',
          required: true,
          label: 'Task',
          align: 'left',
          field: row => row.task.split("-"),
        },
        {
          name: 'url',
          required: true,
          label: 'URL | taskID',
          align: 'left',
          field: row => {
            let ind = row.url.split('/')
            return ind[ind.length-1].split('?')[0]
          },
        },
        {
          name: 'user',
          align: 'left',
          label: 'User',
          field: 'user',
          sortable: true
        },
        {
          name: 'reason',
          align: 'left',
          label: 'Reason',
          field: 'reason',
          sortable: true
        },
        {
          name: 'created',
          label: 'Created',
          field: row => new Date(row.created_at).toDateString(),
          sortable: true
        }
      ],
    }
  },
  methods: {
      ...mapActions(['_toggle', '_dialogs']),
    onRowClick (evt, row) {
      console.log(row)
      this._dialogs({ZapInfo: {'open': true, 'zap': row}});
    },
    ToggleAddReport() {
      // this.dialogs.ZapReport.trigger = this.getTableData
      this._dialogs({ZapReport: {'open': true, 'trigger': this.getTableData}});
    },
    getTableData () {
      this.configs.loading = true;
      this.$axios.post('zaps/range',{ranges: this.ranges}).then(r => {
        this.data = r.data.sort((a,b) => new Date(b.created_at) - new Date(a.created_at))
        this.configs.loading = false;
      });
    },
    openUrl (data) {
      window.open(data,'_blank');
    }
  },
  mounted () {
    this.getTableData();
  }
}
</script>
