<template>
  <div class = "full-width q-pa-sm" style = "display:flex; align-items: center" >
    <ReportZap />
    <ZapInfo />
  </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'

export default {
  name: 'ZapListHeader',
  data () {
    return {
      search: ''
    }
  },
  methods: {
      ...mapActions(['_toggle']),

  }
}
</script>
