<template>
  <div class = "q-pa-xs">
    <ZapListHeader />
    <ZapTable :ranges="ranges"/>
  </div>
</template>
<script>
import ZapListHeader from './zap-list-header.vue';
import ZapTable from './zap-table.vue';

export default {
  name: 'zap-list',
  props: ['ranges'],
  components: {ZapListHeader, ZapTable},
}
</script>
