<template>
  <q-item
    clickable
    @click = "GoToTarget(link)"
    target="ZapReports"
  >
    <q-item-section
      v-if="link.icon"
      avatar
    >
      <q-icon :name="link.icon" />
    </q-item-section>

    <q-item-section>
      <q-item-label> {{ link.title }} </q-item-label>
      <q-item-label caption>
        {{ link.caption }}
      </q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  name: 'EssentialLink',
  props: ['link','GoToTarget'],
  methods: {

  }
}
</script>
