// app global css in Sass form
.profile-box
  padding: 10px;
  margin-top: -70px;
  background-color: white;
  z-index: 120;

.my-table-details
  font-size: 0.85em;
  font-style: italic;
  max-width: 200px;
  white-space: normal;
  margin-top: 4px;

.profile-box,
.profile-img
  background-color: white;
  border-radius: 100%;
  width: 50px;
  height: 50px;

.logo
  font-family: 'Montserrat', sans-serif;

.login-box
  border-radius: 10px;
  max-width: 250px;

.agreement-box
  border-radius: 10px;
  max-width: 650px;
  width: 650px;

.login-backdrop
  background-image: url('//www.jcapitaltraining.com/hosted/images/42/9ded1d90774b43b05df3a3457ad946/herobg4.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;

.mid-width
  max-width: 250px;

.sticky-virtscroll-table
  height: 650px

.sticky-virtscroll-table-full
  height: 90vh;
  min-height: 90vh;

.q-table__top,
.q-table__bottom,
thead tr:first-child th
  background-color: #fff

thead tr th
  position: sticky
  z-index: 1

thead tr:last-child th
  /* height of all previous header rows */
  top: 48px
thead tr:first-child th
  top: 0


.boarder-3
  display: grid;
  grid-template: 1fr / 1fr 2fr 1fr;


.boarder-left
  grid-column: 1 / 2;

.boarder-main
  grid-column: 2 / 3;

.boarder-right
  grid-column: 3 / 4;

.boarder-left,
.boarder-right
  padding: 1rem;
