<template>
  <div class="q-pa-md">
    <div class = "full-width">
      <div class = "flex flex-start q-gutter-md">
        <q-date
          v-model="dates"
          landscape
          range
        />
        <FailedReports :ranges="dates" :failedTasks="failedTasks"/>
      </div>
      <div class="reported-zaps">
        <ZapList :ranges = "dates"/>
      </div>
    </div>
  </div>
</template>
<script>
import FailedReports from 'components/zap/failed-zap-reports-card.vue';
import ZapList from 'components/zap/zap-list.vue';

export default {
  name: 'zap',
  components: { FailedReports, ZapList },
  watch: {
    dates: {
      handler (dates) {
        let a = this.$moment(this.dates.to)
        let b = this.$moment(this.dates.from)
        dates.range = a.diff(b, 'days')
        this.getStatistics()
      },
      deep: true
    }
  },
  data () {
    return {
      dates: {
        from: '',
        to: '',
        range: 0
      },
      failedTasks: {
        stats: 0,
        loading: false,
      }
    }
  },
  methods: {
    getStatistics () {
      this.failedTasks.loading = true;
      this.$axios.post('zaps/statistics', {ranges: this.dates}).then(r => {
        this.failedTasks.loading = false;
        this.failedTasks.stats = r.data
      })
    }
  },
  created () {
    this.dates.from = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()-1).toLocaleDateString("zh-Hans-CN");
    this.dates.to = new Date().toLocaleDateString("zh-Hans-CN");
  }
}
</script>
