<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
import session from 'src/assets/session'
import auth from 'src/assets/auth'

export default {
  name: 'App',
  data () {
    return {
      routeExceptions: ['login', 'thanks']
    }
  },
  methods: {
    logout() {
        (new session).destroy();
        let dist = true;
        this.routeExceptions.map(route => {
          if(!this.$route.path.includes(route)) dist = false;
        })
        if(dist) this.goToLogin()

    },
    goToLogin () {
      window.open('/login','_self')
    }
  },
  mounted() {
    let token = (new auth).verify()
    if(!token) this.logout();
    this.$axios.post('authenticate',{token}).then(r => {
      console.log("verified")
    }).catch(e => {
      if(e.response.status === 401) {
        this.logout();
      }
    })
  }
}
</script>
