<template>
  <q-layout view="lhr lpR fFf">
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>
<script>
export default {
  name: 'loginLayout',

}
</script>
