<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <!-- <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        /> -->

        <q-toolbar-title >
          <span class = "logo">
            {{page.title}}
          </span>

        </q-toolbar-title>

        <div>HIGHSTATUS</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <SideProfile/>
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
        </q-item-label>

        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          :GoToTarget = "GoToTarget"
          :link="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'
import SideProfile from 'layouts/mini-profile/side-profile'

const linksData = [
  {
    title: 'User',
    caption: 'user configs',
    icon: 'far fa-user',
    target: '/user'
  },
  {
    title: 'Zap',
    caption: 'failed zaps',
    icon: 'bolt',
    target: '/zap'
  },
  {
    title: 'Reports',
    caption: 'Sales Report',
    icon: 'report',
    target: '/reports'
  },
];

export default {
  name: 'MainLayout',
  components: { EssentialLink, SideProfile },
  data () {
    return {
      leftDrawerOpen: true,
      page: {
        title: 'Home',
        target: 'home'
      },
      essentialLinks: linksData
    }
  },
  methods: {
    GoToTarget(target) {
      this.page = target
      this.$router.replace({path: target.target});
    }
  }
}
</script>
